<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.man_r.androidswitch"
      version="0.1.0">
    <name>Androidswitch</name>
    <description>Sample PhoneGap Androidswitch Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,androidswitch</keywords>
 
 
    <js-module src="www/androidswitch.js" name="Androidswitch">
        <clobbers target="window.androidswitch" />
    </js-module>
 
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Androidswitch">
                <param name="android-package" value="com.man_r.androidswitch.Androidswitch"/>
            </feature>
        </config-file>
 
        <source-file src="src/android/Androidswitch.java" target-dir="src/com/man_r/androidswitch" />      
     </platform>          
</plugin>